.search-bar {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: lightsteelblue;
    margin-bottom: 40px;
}

.search-bar form {
    display: flex;
    width: 50%;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-bar button:hover {
    background-color: #45a049;
}

